//table
.home {
  &__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-0-75);
  }
  &__table {
    border-radius: 1rem;
    border-collapse: collapse;
    box-shadow: 0 0 20px var(--shadow-color);
    margin: 0 auto;
  }
  &__table thead tr {
    color: var(--first-color-alt);
    text-align: left;
  }
  &__table,
  th,
  td {
    padding: 1.5rem 2rem;
  }
  &__table tbody tr:nth-of-type(even) {
    background-color: var(--first-color-lighten);
  }
}
