.footer {
	background-color: var(--first-color-lighten);
	padding-bottom: 2rem;

	&__container {
		text-align: center;
	}
	&__social {
		display: flex;
		column-gap: 1.5rem;
		&-link {
			font-size: 1.25rem;
			color: var(--title-color);
		}
	}
	&__email {
		color: var(--title-color);
		margin-top: 0.5rem;
	}
	&__copyright {
		margin-top: 1.5rem;
	}
}
